<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.hidden_field :game_id, value: @game.id %>

    <%= f.label :player1Win, @game.player1 %>
    <%= f.text_field :player1Win %>

    <%= f.label :player2Win, @game.player2  %>
    <%= f.text_field :player2Win %>

    <%= f.label :player3Win, @game.player3  %>
    <%= f.text_field :player3Win %>

    <%= f.label :player4Win, @game.player4  %>
    <%= f.text_field :player4Win %>
  </div>
  <div class="actions">
    <%= f.submit '提交', onclick: 'return check_before_submit();'%>
  </div>
<% end %>
