<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @round.game_id %>
</p>

<p>
  <strong>Player1win:</strong>
  <%= @round.player1Win %>
</p>

<p>
  <strong>Player2win:</strong>
  <%= @round.player2Win %>
</p>

<p>
  <strong>Player3win:</strong>
  <%= @round.player3Win %>
</p>

<p>
  <strong>Player4win:</strong>
  <%= @round.player4Win %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
