<% provide(:head_name, '牌局列表') %>

<ul data-role="listview">
  <% @games.each do |game| %>
      <li>
        <a href="<%= game_path(game) %>">
        <%= game.player1 %>&nbsp;&nbsp;&nbsp;
        <%= game.player2 %>&nbsp;&nbsp;&nbsp;
        <%= game.player3 %>&nbsp;&nbsp;&nbsp;
        <%= game.player4 %></a>
      </li>
  <% end %>
</ul>

<br/>
<%= link_to '新建牌局', new_game_path, class: 'ui-btn ui-corner-all ui-mini'%>
