<p id="notice"><%= notice %></p>

<p>
  <strong>Player1:</strong>
  <%= @game.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @game.player2 %>
</p>

<p>
  <strong>Player3:</strong>
  <%= @game.player3 %>
</p>

<p>
  <strong>Player4:</strong>
  <%= @game.player4 %>
</p>

<p>
  <strong>Chipcount:</strong>
  <%= @game.chipCount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
