<!DOCTYPE html>
<html>
<head>
  <title>杭州麻将记账</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="MobileOptimized" content="320"/>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <div data-role="header">
      <a href="javascript:window.history.back()" data-role="button" data-icon="back">返回</a>
      <h1 > <%= yield(:head_name) %> </h1>
      <a href="<%= root_path %>" data-role="button" data-icon="home">首页</a>
    </div>

  </div>

  <div data-role="content">
    <%= yield %>
  </div>


</div>

</body>
</html>
